/* 
    Created on : Jul 25, 2024, 6:49:05 AM
    Author     : Florin Pinta alias xttrust
*/

.form-check-input:checked {
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.form-check-label a {
    color: #0d6efd;
    text-decoration: none;
}

.form-check-label a:hover {
    text-decoration: underline;
}

.profile-top-spacer {
    display: block;
    height: 7rem;
}

.profile-header {
    display: block;
}

.profile-avatar {
    margin-top: -170px;
    margin-bottom: 30px;
}

.profile-avatar img {
    margin-left: 20px;
    width: 150px;
    height: 150px;
}


.profile-header-buttons {
    
}

.btn-small {
    padding: 10px;
}

/* General button styling */
.btn-profile {
    color: #ffffff;
    border-radius: 0;
    border: 0;
    transition: .5s;
}

/* Hover effect with animation */
.btn-profile:hover {
    color: #fff;
    background-color: rgba(21, 6, 20, 1);
    transition: background-color .5s ease-in-out;
}

/* Additional fade-in effect */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.modal {
    margin-top: 100px;
}




/** No media query since this is the default in Bootstrap */

/**  Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
    
    
    
}

/** Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
    .profile-avatar {
        margin-top: -90px;
    }
    
    .profile-avatar img {
        margin-left: 20px;
        width: 75px;
        height: 75px;
    }
}

/** Large devices (desktops, 992px and up) */
@media (max-width: 992px) {}

/** Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {}

/** Extra extra large devices (larger desktops, 1400px and up) */
@media (max-width: 1400px) {}